
h3{
    color:brown
}
img{
    max-width: 400px;
    height: auto;
}
html{
background-color: rgb(44, 68, 61);
}
.box-border{
    width: 500px;
    border: 5px solid black;
    padding: 20px,20px,20px;
    margin: 0 auto;
    font-family:cursive;
    padding: 3px;
    background-color: rgb(170, 167, 164);
    text-align:justify;
   
}
